USE [KarakterEvreni]
GO
/****** Object:  User [FandomKullanici]    Script Date: 7.06.2026 22:02:42 ******/
CREATE USER [FandomKullanici] FOR LOGIN [FandomKullanici] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [okur_ziyaretci]    Script Date: 7.06.2026 22:02:42 ******/
CREATE USER [okur_ziyaretci] FOR LOGIN [okur_ziyaretci] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [yazar_admin]    Script Date: 7.06.2026 22:02:42 ******/
CREATE USER [yazar_admin] FOR LOGIN [yazar_admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MisafirKullanici]    Script Date: 7.06.2026 22:02:42 ******/
CREATE ROLE [MisafirKullanici]
GO
/****** Object:  Table [dbo].[Karakterler]    Script Date: 7.06.2026 22:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Karakterler](
	[KarakterID] [int] IDENTITY(1,1) NOT NULL,
	[KarakterAdi] [nvarchar](150) NOT NULL,
	[Unvan] [nvarchar](200) NULL,
	[EvrenID] [int] NULL,
	[GrupID] [int] NULL,
	[Yas] [nvarchar](50) NULL,
	[Cinsiyet] [nvarchar](20) NULL,
	[Boy] [nvarchar](50) NULL,
	[OzelNitelik] [nvarchar](250) NULL,
	[GucSeviyesi] [int] NULL,
	[IlkOrtayaCikis] [nvarchar](100) NULL,
	[EvrenOnemi] [nvarchar](100) NULL,
	[DogumYeri] [nvarchar](100) NULL,
	[AnaSilah] [nvarchar](150) NULL,
	[Zayiflik] [nvarchar](250) NULL,
	[AmacIdeoloji] [nvarchar](max) NULL,
	[Lore] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evrenler]    Script Date: 7.06.2026 22:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evrenler](
	[EvrenID] [int] IDENTITY(1,1) NOT NULL,
	[EvrenAdi] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_EvrenIstatistik]    Script Date: 7.06.2026 22:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- ADIM 3: (3) VIEW — Evren istatistik view'ı
-- ============================================================
CREATE   VIEW [dbo].[vw_EvrenIstatistik] AS
SELECT
    e.EvrenID,
    e.EvrenAdi,
    COUNT(k.KarakterID)                                                          AS ToplamKarakter,
    AVG(CAST(k.GucSeviyesi AS FLOAT))                                            AS OrtalamaGuc,
    MAX(k.GucSeviyesi)                                                           AS EnYuksekGuc,
    MIN(k.GucSeviyesi)                                                           AS EnDusukGuc,
    SUM(CASE WHEN k.EvrenOnemi = 'Ana Karakter'               THEN 1 ELSE 0 END) AS AnaKarakterSayisi,
    SUM(CASE WHEN k.EvrenOnemi = 'Kötü Karakter (Antagonist)' THEN 1 ELSE 0 END) AS AntagoniSayisi,
    SUM(CASE WHEN k.EvrenOnemi = 'Akıl Hocası (Mentor)'       THEN 1 ELSE 0 END) AS MentorSayisi,
    SUM(CASE WHEN k.EvrenOnemi = 'Yan Karakter'               THEN 1 ELSE 0 END) AS YanKarakterSayisi
FROM Evrenler e
LEFT JOIN Karakterler k ON e.EvrenID = k.EvrenID
GROUP BY e.EvrenID, e.EvrenAdi;
GO
/****** Object:  Table [dbo].[Gruplar]    Script Date: 7.06.2026 22:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gruplar](
	[GrupID] [int] IDENTITY(1,1) NOT NULL,
	[GrupAdi] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_KarakterDetaylari]    Script Date: 7.06.2026 22:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_KarakterDetaylari] AS
SELECT 
    k.KarakterID, k.KarakterAdi, k.Unvan, k.GucSeviyesi, 
    ISNULL(k.Yas, 'Bilinmiyor') AS Yas, 
    ISNULL(k.Cinsiyet, 'Bilinmiyor') AS Cinsiyet, 
    ISNULL(k.Boy, 'Bilinmiyor') AS Boy, 
    ISNULL(k.DovusRuhu, 'Bilinmiyor') AS DovusRuhu, 
    ISNULL(k.SacRengi, 'Bilinmiyor') AS SacRengi, 
    ISNULL(k.GozRengi, 'Bilinmiyor') AS GozRengi,
    k.Lore,
    ISNULL(k.DetayliKunye, '') AS DetayliKunye,
    ISNULL(k.ResimYolu, '') AS ResimYolu,
    g.GrupAdi,
    e.EvrenAdi -- İşte arayüzün aradığı ama bulamadığı o kayıp sütun!
FROM Karakterler k
INNER JOIN Evrenler e ON k.EvrenID = e.EvrenID
LEFT JOIN Gruplar g ON k.GrupID = g.GrupID;
GO
/****** Object:  View [dbo].[vw_KarakterGaleriListesi]    Script Date: 7.06.2026 22:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. GÖRÜNÜMÜ (VIEW) SIFIRDAN, HİÇBİR İNDİS KAYMASI OLMAYACAK ŞEKİLDE EN BASTA KURUYORUZ
CREATE VIEW [dbo].[vw_KarakterGaleriListesi] AS
SELECT 
    K.KarakterID,
    K.KarakterAdi,
    K.Unvan,
    K.GucSeviyesi,
    K.Yas,
    K.Cinsiyet,
    K.Boy,
    K.OzelNitelik, -- SSMS'in tam buradan düzgünce çekebilmesi için sabitledik
    K.Lore,
    K.ResimYolu,
    G.GrupAdi,
    E.EvrenAdi
FROM Karakterler K
LEFT JOIN Evrenler E ON K.EvrenID = E.EvrenID
LEFT JOIN Gruplar G ON K.GrupID = G.GrupID;
GO
/****** Object:  View [dbo].[vw_KarakterDetay]    Script Date: 7.06.2026 22:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View yapısını da otomatik olarak bu sınırsız türe güncelliyoruz
CREATE VIEW [dbo].[vw_KarakterDetay] AS
SELECT 
    k.KarakterID, k.KarakterAdi, k.Unvan, k.GucSeviyesi, k.Yas, 
    k.Cinsiyet, k.Boy, k.OzelNitelik, k.Lore, k.IlkOrtayaCikis, k.EvrenOnemi,
    k.DogumYeri, k.AnaSilah, k.Zayiflik, k.AmacIdeoloji,
    e.EvrenAdi, g.GrupAdi
FROM Karakterler k
LEFT JOIN Evrenler e ON k.EvrenID = e.EvrenID
LEFT JOIN Gruplar g ON k.GrupID = g.GrupID;
GO
/****** Object:  Table [dbo].[Esyalar]    Script Date: 7.06.2026 22:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Esyalar](
	[EsyaID] [int] IDENTITY(1,1) NOT NULL,
	[KarakterID] [int] NULL,
	[EsyaTuru] [nvarchar](100) NULL,
	[EsyaAdi] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iliskiler]    Script Date: 7.06.2026 22:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iliskiler](
	[IliskiID] [int] IDENTITY(1,1) NOT NULL,
	[Karakter1_ID] [int] NULL,
	[Karakter2_ID] [int] NULL,
	[IliskiTuru] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KarakterLog]    Script Date: 7.06.2026 22:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KarakterLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[Mesaj] [nvarchar](255) NULL,
	[Tarih] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RuhHalkalari]    Script Date: 7.06.2026 22:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuhHalkalari](
	[HalkaID] [int] IDENTITY(1,1) NOT NULL,
	[KarakterID] [int] NULL,
	[HalkaRengi] [nvarchar](50) NULL,
	[HalkaYasi] [nvarchar](100) NULL,
	[YetenekAdi] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RuhKemikleri]    Script Date: 7.06.2026 22:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuhKemikleri](
	[KemikID] [int] IDENTITY(1,1) NOT NULL,
	[KarakterID] [int] NULL,
	[KemikBolgesi] [nvarchar](100) NULL,
	[KemikAdi] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SilinenKarakterLog]    Script Date: 7.06.2026 22:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SilinenKarakterLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[KarakterID] [int] NULL,
	[KarakterAdi] [nvarchar](200) NULL,
	[Unvan] [nvarchar](200) NULL,
	[EvrenID] [int] NULL,
	[GrupID] [int] NULL,
	[Yas] [nvarchar](50) NULL,
	[Cinsiyet] [nvarchar](20) NULL,
	[Boy] [nvarchar](50) NULL,
	[OzelNitelik] [nvarchar](300) NULL,
	[GucSeviyesi] [int] NULL,
	[IlkOrtayaCikis] [nvarchar](200) NULL,
	[EvrenOnemi] [nvarchar](100) NULL,
	[DogumYeri] [nvarchar](200) NULL,
	[AnaSilah] [nvarchar](200) NULL,
	[Zayiflik] [nvarchar](300) NULL,
	[AmacIdeoloji] [nvarchar](max) NULL,
	[Lore] [nvarchar](max) NULL,
	[SilinmeTarihi] [datetime] NULL,
	[SilenKullanici] [nvarchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Evrenler] ON 

INSERT [dbo].[Evrenler] ([EvrenID], [EvrenAdi]) VALUES (0, N'Soul Land (Douluo Dalu)')
INSERT [dbo].[Evrenler] ([EvrenID], [EvrenAdi]) VALUES (1, N'The Vampire Diaries & Originals')
INSERT [dbo].[Evrenler] ([EvrenID], [EvrenAdi]) VALUES (2, N'Marvel Sinematik Evreni')
SET IDENTITY_INSERT [dbo].[Evrenler] OFF
GO
SET IDENTITY_INSERT [dbo].[Gruplar] ON 

INSERT [dbo].[Gruplar] ([GrupID], [GrupAdi]) VALUES (0, N'Shrek''s Seven (Soul Land)')
INSERT [dbo].[Gruplar] ([GrupID], [GrupAdi]) VALUES (1, N'Tang Sect')
INSERT [dbo].[Gruplar] ([GrupID], [GrupAdi]) VALUES (2, N'Spirit Hall')
SET IDENTITY_INSERT [dbo].[Gruplar] OFF
GO
SET IDENTITY_INSERT [dbo].[Karakterler] ON 

SET IDENTITY_INSERT [dbo].[Karakterler] OFF
GO
SET IDENTITY_INSERT [dbo].[KarakterLog] ON 

INSERT [dbo].[KarakterLog] ([LogID], [Mesaj], [Tarih]) VALUES (1, N'Yeni Karakter Eklendi: Deneme Karakteri', CAST(N'2026-05-31T23:55:08.703' AS DateTime))
INSERT [dbo].[KarakterLog] ([LogID], [Mesaj], [Tarih]) VALUES (2, N'Yeni Karakter Eklendi: Klaus Mikaelson', CAST(N'2026-06-01T00:18:01.730' AS DateTime))
INSERT [dbo].[KarakterLog] ([LogID], [Mesaj], [Tarih]) VALUES (3, N'Yeni Karakter Eklendi: Tang San', CAST(N'2026-06-01T00:18:01.730' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[KarakterLog] OFF
GO
ALTER TABLE [dbo].[KarakterLog] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[SilinenKarakterLog] ADD  DEFAULT (getdate()) FOR [SilinmeTarihi]
GO
ALTER TABLE [dbo].[SilinenKarakterLog] ADD  DEFAULT (suser_sname()) FOR [SilenKullanici]
GO
ALTER TABLE [dbo].[Karakterler]  WITH CHECK ADD  CONSTRAINT [FK_Karakterler_Evrenler] FOREIGN KEY([EvrenID])
REFERENCES [dbo].[Evrenler] ([EvrenID])
GO
ALTER TABLE [dbo].[Karakterler] CHECK CONSTRAINT [FK_Karakterler_Evrenler]
GO
ALTER TABLE [dbo].[Karakterler]  WITH CHECK ADD  CONSTRAINT [FK_Karakterler_Gruplar] FOREIGN KEY([GrupID])
REFERENCES [dbo].[Gruplar] ([GrupID])
GO
ALTER TABLE [dbo].[Karakterler] CHECK CONSTRAINT [FK_Karakterler_Gruplar]
GO
/****** Object:  StoredProcedure [dbo].[sp_GuvenliKarakterEkle]    Script Date: 7.06.2026 22:02:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GuvenliKarakterEkle]
    @KarakterAdi NVARCHAR(100),
    @Lore NVARCHAR(MAX),
    @EvrenID INT,
    @GrupID INT,
    @GucSeviyesi INT = 50,
    @Unvan NVARCHAR(100) = NULL,
    @Yas NVARCHAR(50) = NULL,
    @Cinsiyet NVARCHAR(20) = NULL,
    @Boy NVARCHAR(50) = NULL,
    @OzelNitelik NVARCHAR(200) = NULL, -- Burası güncellendi
    @SacRengi NVARCHAR(50) = NULL,
    @GozRengi NVARCHAR(50) = NULL,
    @DetayliKunye NVARCHAR(MAX) = NULL,
    @ResimYolu NVARCHAR(250) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Karakterler WHERE KarakterAdi = @KarakterAdi AND EvrenID = @EvrenID)
    BEGIN
        PRINT 'Bu karakter bu evrende zaten kayıtlı!';
    END
    ELSE
    BEGIN
        INSERT INTO Karakterler (KarakterAdi, Lore, EvrenID, GrupID, GucSeviyesi, Unvan, Yas, Cinsiyet, Boy, OzelNitelik, SacRengi, GozRengi, DetayliKunye, ResimYolu)
        VALUES (@KarakterAdi, @Lore, @EvrenID, @GrupID, @GucSeviyesi, @Unvan, @Yas, @Cinsiyet, @Boy, @OzelNitelik, @SacRengi, @GozRengi, @DetayliKunye, @ResimYolu);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KarakterGeriYukle]    Script Date: 7.06.2026 22:02:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Silinmiş karakteri geri yükle (TCL: transaction içinde)
CREATE   PROCEDURE [dbo].[sp_KarakterGeriYukle]
    @LogID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        INSERT INTO Karakterler (
            KarakterAdi, Unvan, EvrenID, GrupID, Yas, Cinsiyet, Boy,
            OzelNitelik, GucSeviyesi, IlkOrtayaCikis, EvrenOnemi,
            DogumYeri, AnaSilah, Zayiflik, AmacIdeoloji, Lore
        )
        SELECT
            KarakterAdi, Unvan, EvrenID, GrupID, Yas, Cinsiyet, Boy,
            OzelNitelik, GucSeviyesi, IlkOrtayaCikis, EvrenOnemi,
            DogumYeri, AnaSilah, Zayiflik, AmacIdeoloji, Lore
        FROM SilinenKarakterLog
        WHERE LogID = @LogID;

        DELETE FROM SilinenKarakterLog WHERE LogID = @LogID;
        COMMIT;
        PRINT 'Karakter geri yüklendi.';
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KarakterIliskileriniGetir]    Script Date: 7.06.2026 22:02:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Sütun isimleri tam senin ekran görüntündeki gibi (Karakter1_ID / Karakter2_ID) ayarlandı
CREATE PROCEDURE [dbo].[sp_KarakterIliskileriniGetir]
    @KarakterID INT
AS
BEGIN
    SELECT i.IliskiTuru, k2.KarakterAdi
    FROM Iliskiler i
    JOIN Karakterler k2 ON i.Karakter2_ID = k2.KarakterID
    WHERE i.Karakter1_ID = @KarakterID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SilinenKarakterleriGetir]    Script Date: 7.06.2026 22:02:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- ADIM 4: (5) STORED PROCEDURE'LER
-- ============================================================

-- Silinmiş karakterleri listele
CREATE   PROCEDURE [dbo].[sp_SilinenKarakterleriGetir]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        LogID,
        KarakterAdi,
        Unvan,
        GucSeviyesi,
        SilinmeTarihi,
        SilenKullanici
    FROM SilinenKarakterLog
    ORDER BY SilinmeTarihi DESC;
END
GO
